[Unit]
Description=.NET Core Rotulo nutricional 

[Service]
WorkingDirectory=/home/Etiquetas/Etiquetas/bin/debug/netcoreapp2.2
ExecStart=/usr/bin/dotnet Etiquetas.dll
Restart=always
RestartSec=10
SyslogIdentifier=rotulo-nutricional
User=daniel
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
